<div class="col mt-4 mb-4">
  <img class="mb-1" style="border-radius: 10%; border: 4px solid #F57421; height: 200px" src="<%= image_path( img ) %>"></img><br>
  <span style="font-weight: bold;"> <%= name %></span><br>
  <span><%= title %></span>

</div>
