<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer>

  <div class="row text-center">
    <div class="col-4">
      <a href="#">ABOUT US</a>
    </div>
    <div class="col-4">
      <a href="#">CONTACT</a>
    </div>
    <div class="col-4">
      <a href="#">BLOG</a>
    </div>
  </div><br>

  <div class="row text-center">
    <div class="col">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-snapchat-ghost"></a>
    </div>
  </div>

</footer>
