<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="containder-fluid text-center">
  <div id="header-image" class="row text-white text-center">
      <div class="col landing-text">
        <h1>Campfire</h1>
        <h6 class="lead">Meeting People Made Easy</h6><br>

        <button class="btn btn-primary mb-4" onclick="smoothScroll(document.getElementById('learn-more'))">
          <span>Learn More</span>
        </button><br>

        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-snapchat-ghost"></a>
        <a href="#" class="fa fa-instagram"></a>

      </div>

  </div>

  <div class="learn-more text-center" id="learn-more">
    <div class="row text-center">
      <div class="col-12 mb-3">
          <h2>Join the Campfire!</h2>
      </div>

      <div class="col-4">
        <img class="crd-img" src="<%= image_path('fire.png') %>">
        <div class="card">
          <h2>Hey</h2>
        </div>
      </div>

      <div class="col-4">
        <img class="crd-img" src="<%= image_path('fire.png') %>">
        <div class="card">
          <h2>Hey</h2>
        </div>
      </div>

      <div class="col-4">
        <img class="crd-img" src="<%= image_path('fire.png') %>">
        <div class="card">
          <h2>Hey</h2>
        </div>
      </div>

    </div>
  </div>
